<template>
  <div id="header" class="container p-1">
  <b-navbar type="dark" variant="danger" toggleable>
    <b-navbar-toggle target="nav_dropdown_collapse"></b-navbar-toggle>
    <b-collapse is-nav id="nav_dropdown_collapse">
      <b-navbar-brand to="/">Ma liste de tâches</b-navbar-brand>
    
      <b-navbar-nav class="ml-auto">

        <b-nav-item-dropdown text="Gestion des listes" right>
          <b-dropdown-item v-show="$route.path==='/'"><b-button  variant="warning" v-b-modal.addListModal class="sm">Ajouter liste personnelle</b-button></b-dropdown-item>
          <b-dropdown-item to="/restaurer">Restaurer listes effacées</b-dropdown-item>
          <b-dropdown-item to="/nouveautes">Nouvelles listes</b-dropdown-item>
      </b-nav-item-dropdown>

      </b-navbar-nav>
    </b-collapse>
  </b-navbar>
       <b-modal id="addListModal"
             ref="modal"
             title="Ajouter une liste personnelle"
             @ok="handleOk"
             @shown="clearName">
      <form @submit.stop.prevent="handleSubmit">
        <b-form-input type="text"
                      placeholder="nom de la liste"
                      v-model="listName"></b-form-input>
      </form>
    </b-modal>
</div>
</template>

<script>
import {mapActions} from 'vuex';

export default {
  data() {
    return {
      listName:'',
    }
  },
  methods: {
        ...mapActions([
      'addNewListe'
    ]),
      clearName () {
      this.listName = ''
    },
    handleOk (evt) {
      // Prevent modal from closing
      evt.preventDefault()
      if (!this.listName) {
        alert('Merci de rajouter un nom a la liste')
      } else {
        this.handleSubmit()
      }
    },
    handleSubmit () {

      const payload = {
          icon: 'group_add',
          name: this.listName,
          todo:[]
        };
       this.$store.dispatch('addNewListe', payload);
      this.clearName()
      this.$refs.modal.hide()
    }
  }
  
}
</script>

<style scoped>


</style>
