<template>
  <div id="listetodo" class="container">
    <b-card-group deck>
    <div v-for="todos in listeTodo" :key="todos.id">
      <todos :todos="todos"></todos>
    </div>
    </b-card-group>
  </div>
</template>

<script>
import Todos from './Todos.vue';


export default {
  components: {Todos},
   computed: {
     listeTodo() {
       return this.$store.getters.getListeTodo;
     }
   }
  }
</script>
<style>
#listetodo {
  background-image: url('/static/img/road_sign.jpg');
  background-size: cover;
  padding:8px;
}
</style>
