<template>
  <div id="nouveautes" class="container p-1">
    <div class="entete">
      <h1>Nouvelles rubriques et taches</h1>
      <p>Vous pouvez ajouter ces nouvelles listes ou tahes à vos listes principales en cliquant soit sur la tache ou bien sur la liste si vous souhaitez rapattrier l'ensemble des taches de la liste</p>
    </div>
       <b-card-group deck  class="p-1 m-1">
      <div v-for="todos in listeNouveautes" :key="todos.id">
        <b-card class="nouveautes-card" @click="retrieveList(todos)" :title="todos.name">
          <b-list-group v-for="todo in todos.todo" :key="todo.id">
            <b-list-group-item @click.stop="retrieveTodo(todos, todo.id)"  class="p-0 m-1">{{todo.name}}</b-list-group-item>  
          </b-list-group>
        </b-card>
      </div>   
    </b-card-group>
  </div>
</template>

<script>
import {mapActions} from 'vuex';

export default {
   computed: {
     listeNouveautes() {
       return this.$store.getters.getListeNouveautes;
     }
   },
   methods: {
     ...mapActions([
      'retrieveTodo',
      'removeListeNouveautes',
      'removeTodoNouveautes',
      'retrieveListeTodo'
    ]),
    retrieveList(list) {
      this.checkRetrieveTodoList(list);
      const listTodo = this.$store.getters.getListeNouveautes.find(x => x.id === list.id).todo
        for (var todoCheck in listTodo) {
          this.executeRetrieveTodo(list.id, listTodo[todoCheck].id);  
          }
    this.$store.dispatch('removeListeNouveautes', list.id);
    },
    retrieveTodo(list, todoId) {
      this.checkRetrieveTodoList(list);
      this.executeRetrieveTodo(list.id, todoId);
      const payload = {
        listId: list.id,
        todoId: todoId
      }
      this.$store.dispatch('removeTodoNouveautes', payload);
      if(list.todo.length ===0) {
        this.$store.dispatch('removeListeNouveautes', list.id);
      }
    },
     
    checkRetrieveTodoList(list) {
      const listExists = this.$store.getters.getListeTodo.find(x => x.id === list.id);
      if (listExists === undefined) {
          const liste = {
          icon: list.icon,
          id: list.id,
          name: list.name,
          todo:[]
        };
        this.$store.dispatch('retrieveListeTodo', liste)
      } 
    },
    executeRetrieveTodo(listId, todoId) {
      let todo = this.$store.getters.getListeNouveautes.find(x => x.id === listId).todo.find(x => x.id === todoId);
      let payload_todo = {
        listId: listId,
        todo: todo
        }
      this.$store.dispatch('retrieveTodo', payload_todo );
    }
  
   }
  }
</script>

<style>
#nouveautes {
  background-image: url('/static/img/travel-background.jpg');
  background-size: cover;
}

.nouveautes-card {
  background-color: lightblue;
}
</style>
