<template>
<div id="todos">
    <b-card 
    class="todo-card"
      header="Primary"
      header-text-variant="black"
      align="left">
      <div slot="header">
      <h2 class="d-inline-block"><i class="material-icons"> {{ todos.icon }}</i>{{ todos.name | uppercase}} </h2>
        <b-btn 
          class=" btn-danger float-right" 
          v-b-tooltip.hover 
          title="Effacer la liste et son contenu" 
          @click="removeListe(todos.id)" 
          variant="outline-*" 
          size="sm">
          X
          </b-btn>
      </div>    

      <b-list-group v-for="todo in todos.todo" :key="todo.id" :class="{done: todo.checked}">
        <b-list-group-item >
            <b-checkbox plain v-model="todo.checked"> {{todo.name}} </b-checkbox>
            <b-btn class="delete float-right" @click="removeTodo(todos.id, todo.id)" variant="outline-*" size="sm">X</b-btn>
        </b-list-group-item>
        </b-list-group>
        <div slot="footer">
          <b-input-group>
            <input  
              size="sm"
              v-model="newTodo"
              type="text"
              id="inputNewTodo"
              v-on:keydown.enter.stop="addTodo"
              placeholder="Nouvelle tache">
            <b-input-group-append class="ml-auto">
              <b-btn 
                class="btn-circle" 
                @click.prevent="addTodo" 
                variant="warning" 
                :disabled="newTodo.length <= 0" 
                size="sm">
                +
              </b-btn>   
            </b-input-group-append>
          </b-input-group>

        </div>
      </b-card>
</div>
</template>

<script>
import {mapActions} from 'vuex';
const uuidv1 = require('uuid/v1');

export default {
  props: ['todos'],
  data() {
    return {
        newTodo:'',
  
    }
  },
  filters: {
  uppercase(value) {
    if (!value) return ''
    return value.toUpperCase()
  }
},
  methods: {
    ...mapActions([
      'addNewTodo',
      'removeTodo',
      'addNewListeArchive',
      'addNewTodoArchive',
      'removeListeTodo'
    ]),
    removeListe(listId) {
      var r = confirm("Cette action supprimera toute la liste");
        if (r == true) {
         this.checkRemoveTodoList(listId);
          const listTodo = this.$store.getters.getListeTodo.find(x => x.id === listId).todo
            for (var todoCheck in listTodo) {
              this.executeRemoveTodo(listId, listTodo[todoCheck].id);  
              }
        this.$store.dispatch('removeListeTodo', listId);
          }
    },
    removeTodo(listId, todoId) {
      this.checkRemoveTodoList(listId);
      this.executeRemoveTodo(listId, todoId);
      const payload = {
        listId: listId,
        todoId: todoId
      }
      this.$store.dispatch('removeTodo', payload);
    },
     
    checkRemoveTodoList(listId) {
      const listExists = this.$store.getters.getListeArchive.find(x => x.id === listId);
      if (listExists === undefined) {
          const liste = {
          icon: this.todos.icon,
          id: this.todos.id,
          name: this.todos.name,
          todo:[]
        };
        this.$store.dispatch('addNewListeArchive', liste)
      } 
    },
    executeRemoveTodo(listId, todoId) {
      let todo = this.$store.getters.getListeTodo.find(x => x.id === listId).todo.find(x => x.id === todoId);
      todo.checked = false;
      let payload_todo = {
        listId: listId,
        todo: todo
        }
      this.$store.dispatch('addNewTodoArchive', payload_todo );
    },
    
    addTodo() {
      let todoId = '';
      if (this.newTodo.length >0){
        const listId = this.todos.id;

        const payload = {
          listId, 
          todo: {
            id: uuidv1(),
            name: this.newTodo,
            checked: false
            }
        };    
      this.$store.dispatch('addNewTodo', payload);
      this.newTodo = '';
      }

    }
  } 
}
</script>

<style scoped>
.todo-card .card-header, .todo-card .card-footer, .todo-card .card-body {
 background-color: 	#c0c0c0;
}
.todo-card .list-group-item {
  margin:2px;
}
.form-check {
  max-width: 260px;
  overflow:hidden;
}
.done {
  color: #797171;
  text-decoration: line-through;
}
.input-group-append>.btn {
   border-radius: 20% !important;
}
.btn-circle {
  width: 36px;
  height: 100%;
  padding: 0px;

  text-align: center;
  font-size: 100%;
  line-height: 1.42857;
}


</style>
