<template>
  <div id="app" class="container mt-0">
    <div class=" headerTravel">
      <div class="row p-2">
        <div class="col-3">
          <img src="/static/img/159588_960_720.png" alt="logo travel">
        </div>
        <div class="col-6 align-self-center">
          <h1 >Préparatif voyage</h1>
        </div>
       </div>
       <app-header></app-header>
    </div>
      <router-view class="content"></router-view>
  </div>
</template>

<script>
import ListeTodo from './components/ListeTodo.vue';
import Header from './components/Header.vue';

import initialList from '../static/utils/Data_listes.js';
import listeNouveautes from '../static/utils/Data_newListe.js';


export default {
  name: 'app',
  components: {
    ListeTodo,
     appHeader: Header
     },

  created() {
    if (localStorage.getItem("vuex") === null) {

        this.$store.dispatch('initListe', initialList);
        this.$store.dispatch('addNewListeNouveautes', listeNouveautes);
    }
  },

}
</script>

<style>

#app {
  font-family: 'Josefin Sans', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 10px;
  padding:5px;
}
img {
  width: 100%;
}
.row {
  margin: 10px;
}
.headerTravel {
    background-image: url('/static/img/sand_ocean_beach.jpg');
  background-size: cover;

}
</style>
