h2 {
  font-size: 100%;
}
.entete {
  background-color: white;
  opacity:0.8;
  }


.list-group-item:hover, .card:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
 
  cursor: pointer;
  opacity:1;
}

.card {
  color:black;
  opacity: 0.9;
  margin:10px;
  padding:2px;
  min-width: 300px
}
#inputNewTodo {
margin-right:6px;
padding: 6px;
width:78%;
border-radius:5px; 
}

.card-footer, .card-header, .card-body, .list-group-item {
  padding:6px;
}
.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 36px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  margin: 10px;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}